* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  position: relative;
}
#header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  padding: 20px;
  background-color: cornflowerblue;
}
.brand {
  display: flex;
  align-items: center;
}
#nav-bar {
  width: 60%;
  font-size: 1.5rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-link {
  padding: 5px;
}
main {
  margin: 100px 20px auto;
  width: 90vw;
}
section {
  margin: 20px auto;
}
.formSection {
  text-align: center;
}
#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
#email {
  width: 40%;
  height: 2rem;
}
#submit {
  width: 120px;
  padding: 5px;
  font-size: 1.5rem;
  margin: 20px 5px 5px 5px;
  border-radius: 5px;
  border: none;
}
#mission p {
  text-align: center;
}
blockquote {
  margin: 20px;
}
.quote {
  font-style: italic;
  text-align: center;
  margin: 20px;
}
.quote::before {
  content: '" ';
}

.quote::after {
  content: ' "';
}
#reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
video {
  height: 400px;
  z-index: -1;
}
h2 {
  text-align: center;
  padding: 20px;
}
.services {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  column-gap: 1rem;
  justify-content: center;
}
.card {
  box-shadow: 2px 2px 2px 2px slategrey;
  border-radius: 5px;
  max-width: 300px;
}
.cardImage {
  border-radius: 50%;
  padding: 5px;
}

.cardText {
  font-style: italic;
  padding: 15px;
}
#reviews h3 {
  padding-bottom: 20px;
}
@media (max-width: 700px) {
  #email {
    width: 80%;
  }
  #services {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 10px auto;
  }
}
@media (max-width: 500px) {
  #header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    background-color: cornflowerblue;
  }
  .brand h1 {
    display: none;
  }
  #nav-bar {
    width: 100%;
    font-size: 1rem;
    display: flex;
    padding: 5px;
    justify-content: space-around;
  }
  #nav-bar a {
    text-decoration: none;
    color: white;
  }
  .nav-link {
    padding: 5px;
  }
  #submit {
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    margin: 5px;
    border-radius: 5px;
    border: none;
  }
  #email {
    width: 100%;
  }
  .services {
    display: flex;
    flex-direction: column;
  }
}
footer {
  background-color: cornflowerblue;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
